html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { 
    font-weight: normal; 
}

img {
    border: 0; 
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 0%, rgba(187,174,174,1) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: outset 2px rgb(255, 255, 255);
    background-color: #ffffff;
}
  
.header-left {
    display: flex;
    align-items: center;
}
  
.header-left h2 {
    font-family: 'Quicksand', sans-serif;
    user-select: none;
    margin: 0 10px;
  
}
.header-right {
    display: flex;
    align-items: center;
}
  
.user-name {
    font-family: 'Quicksand', sans-serif;
    margin-right: 2vh;
    user-select: none;
}
  
.cart {
    margin-right: 2vh;
}
  
.cart > svg {
    cursor: pointer;
}
  
.user-nav {
    margin-right: 1vh;
}
  
.user-nav > svg {
    cursor: pointer;
}
  
.cart > svg:hover,
.user-nav > svg:hover {
    animation: changeFill 0.5s forwards;
}

#store-content.hidden, #profile-content.hidden, #login-content.hidden {
    display: none;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    border-top: inset 2px rgb(255, 255, 255);
    background-color: #ffffff;
}

#credits {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    user-select: none;
    font-size: 15px;
}

#credits a {
    margin: 5px;
}

#header, #content, #footer {
    transition: opacity 0.2s;
}

#header.blur, #content.blur, #footer.blur {
    opacity: 0.3;
}

#cart-container {
    width:100%;
    height:75%;
}