html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { 
    font-weight:normal; 
}

img { 
    border: 0; 
}


body {
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 0%, rgba(187,174,174,1) 100%);
}

.title {
    user-select: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    animation: fadeInAnimation ease 1.5s;
}

.title h2 {
    opacity: 0;
    font-size: 24px;
    margin-top: 10px;
    animation: fadeInAnimation 1s ease 1.5s forwards;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    text-align: center;
    width: 20rem;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container.expanded {
    width: 60vh;
    height: 55vh;
}

.container input[type="text"], .container input[type="password"] {
    display: block;
    margin: 20px auto;
    padding: 10px 10px;
    border: 2px;
    border-radius: 5px;
    width: calc(100% - 70px);
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.login-container {
    display: block;
}

.login-container.removed {
    display: none;
}

.register-container {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s; 
}

.register-container.visible {
    display: block;
    visibility: visible;
    opacity: 1;
}

.login-redirect {
    display: block;
    width: 8vh;
}

.login-redirect svg {
    stroke: rgb(85, 84, 84);
    cursor: pointer;
}

.login-redirect svg:hover {
    animation: changeStroke 0.3s forwards;
}

.btn-login, .btn-signup, .btn-submit-signup {
    position: relative;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a7a7a7;
    color: #fff;
    width: calc(100% - 50px);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    transition: background-color 0.25s, box-shadow 0.3s;
}

.btn-signup {
    bottom: 25px;
}

.btn-login {
    display: grid;
}

.btn-login div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.btn-login:hover, .btn-signup:hover, .btn-submit-signup:hover {
    background-color: #555454;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.btn-login.loading, .btn-submit-signup.loading {
    color: transparent;
}
  
.btn-login.loading .lds-ripple, .btn-submit-signup.loading .lds-ripple {
    display: block;
}

.btn-login .lds-ripple {
    display: none;
    position: relative;
    bottom: 10px;
    left:43%;
}

.btn-submit-signup .lds-ripple {
    display: none;
    position: relative;
    bottom: 28px;
    left:45%;
}

.lds-ripple div {
    position: absolute;
    border: 3px solid #fff;
    opacity: 5;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes changeStroke {
    from {
        stroke: rgb(85, 84, 84);
    }
    to {
        stroke: rgb(0, 0, 0);
    }
}

@keyframes lds-ripple {
    0% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 36px;
        height: 36px;
        opacity: 0;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}