html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { 
    font-weight: normal; 
}

img {
    border: 0; 
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 0%, rgba(187,174,174,1) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #ffffff;
  border-bottom: 20px;
  
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h2 {
    font-family: 'Quicksand', sans-serif;
    user-select: none;
    margin: 0 10px;

}

.publish-button {
  border: none;
  border-radius: 5px;
  background-color: #59a56b;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s, box-shadow 0.3s;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-name {
    font-family: 'Quicksand', sans-serif;
    margin-right: 2vh;
    user-select: none;
}

.cart {
    margin-right: 2vh;
}

.cart > svg {
    cursor: pointer;
}

.user-nav {
    margin-right: 1vh;
}

.user-nav > svg {
    cursor: pointer;
}

.cart > svg:hover,
.user-nav > svg:hover {
    animation: changeFill 0.3s forwards;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-field-container {
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.search-input {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 10px 10px;
    border: 2px;
    border-radius: 20px;
    width: calc(50% - 70px);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

}

.search-input:focus {
    outline: none;
}

.search-button-container {
    display: flex;
    position: relative;
}

.search-button {
    position: relative;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a7a7a7;
    color: #fff;
    width: calc(20% - 50px);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    transition: background-color 0.25s, box-shadow 0.3s;
}

.search-button:hover, .publish-button:hover, .publish-product-button:hover, #checkout-btn:hover {
    background-color: #555454;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.close-publish-container-button:hover, #close-cart-btn:hover {
    background-color: rgb(216, 41, 41);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.list-container-container {
    display: block;
    margin-top: 3rem;
    position: relative;
    flex: 1;
}

.list-container {
    /* animation: fadeInAnimation ease 2s; */
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

.product-rows {
    position: relative;
    margin: auto; 
    width: 50%;
    height: calc(100% - 50px);    
    text-align: center;
    font-size:small;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.product-row {

}















#publish-popup-container, #cart-popup-container {
    display: none;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    width: 50%;
    height: 65%;
    position: fixed;
    top: 25%;
    left: 25%;
    padding: 10px 10px;
    border: 2px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
}


#publish-popup-container.show, #cart-popup-container.show {
    display: flex;
    opacity: 1;
}

#publish-popup-container span, #cart-popup-container span {
    align-self: center;
    user-select: none;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#publish-popup-container input {
    font-family: 'Quicksand', sans-serif;
    margin: 5px auto;
    padding: 10px 10px;
    border: 2px;
    border-radius: 5px;
    width: calc(100% - 70px);
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.publish-button-container, .cart-button-container {
    display: block;

}

.publish-product-button, #checkout-btn {
    margin-top: 10px;
    margin-left: 25px;
    border: none;
    border-radius: 5px;
    background-color: #59a56b;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    width: calc(50% - 70px);
    align-self:flex-start;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.25s, box-shadow 0.3s;
}

.close-publish-container-button, #close-cart-btn {
    margin-top: 10px;
    margin-left: 85px;
    border: none;
    border-radius: 5px;
    background-color: #a7a7a7;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    width: calc(50% - 70px);
    align-self:flex-end;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.25s, box-shadow 0.3s;
}






footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: 1px;
    
    /* animation: fadeInAnimation ease 1s; */
}

#credits {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    user-select: none;
    font-size: 15px;
}

#credits a {
    margin: 5px;
}

#header, #content, #footer {
    transition: opacity 0.2s;
}

#header.blur, #content.blur, #footer.blur {
    /*
    Why no worky?
    user-select: none;
    */
    opacity: 0.3;
}

@keyframes changeFill {
    from {
        fill: white;
    }
    to {
        fill: rgb(154, 158, 181);
    }
}

@keyframes changeSVGFill {
    from {
        fill: none;
    }
    to {
        fill: black;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}